---
layout: default
title: Noah's Ark
---

<div id="home">

    <div id="intro">
        <div class="container text-center">
            <h1 class="desdemona desdemona-xbig">Noah's Ark</h1>
        </div>
    </div>

    <div id="music-title" class="jumbotron title" data-stellar-background-ratio="0.5">
        <div class="container text-center">
            <h1 class="copperplate">Music</h1>
        </div>
    </div>

    <div id="music-section" class="section">
        <iframe id="sc-widget" width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/63375209%3Fsecret_token%3Ds-yGnvt"></iframe>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div class="center-block">
                        <img class="img-thumbnail img-responsive center-block" src="/img/cover.jpg" alt="Cover">
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-default btn-prev"><i class="fa fa-backward"></i></a>
                            <a class="btn btn-default btn-play"><i class="fa fa-spinner fa-spin"></i></a>
                            <a class="btn btn-default btn-next"><i class="fa fa-forward"></i></a>
                        </div>
                        <div class="progress">
                            <div id="sc-progress" class="progress-bar" role="progressbar" style="width: 0%;"></div>
                        </div>
                        <h4 id="sc-title" class="text-center copperplate"></h4>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <h3 class="text-center copperplate">Gizzy Limelight<br> and his Stranded Rock n' Roll Jams</h3>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-hover table-condensed copperplate">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Side A</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="btn-track" data-track="0">
                                        <th scope="row">1</th>
                                        <td>Storytelling - Part 1</td>
                                    </tr>
                                    <tr class="btn-track" data-track="1">
                                        <th scope="row">2</th>
                                        <td>In The Tempest</td>
                                    </tr>
                                    <tr class="btn-track" data-track="2">
                                        <th scope="row">3</th>
                                        <td>Aquarian Exposition</td>
                                    </tr>
                                    <tr class="btn-track" data-track="3">
                                        <th scope="row">4</th>
                                        <td>Storytelling - Part 2</td>
                                    </tr>
                                    <tr class="btn-track" data-track="4">
                                        <th scope="row">5</th>
                                        <td>Anti-Star</td>
                                    </tr>
                                    <tr class="btn-track" data-track="5">
                                        <th scope="row">6</th>
                                        <td>Half-Man's Land</td>
                                    </tr>
                                    <tr class="btn-track" data-track="6">
                                        <th scope="row">7</th>
                                        <td>Storytelling - Part 3</td>
                                    </tr>
                                    <tr class="btn-track" data-track="7">
                                        <th scope="row">8</th>
                                        <td>Over The Clouds</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-hover table-condensed copperplate">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Side B</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="btn-track" data-track="8">
                                        <th scope="row">9</th>
                                        <td>Rock N' Roll Hymn</td>
                                    </tr>
                                    <tr class="btn-track" data-track="9">
                                        <th scope="row">10</th>
                                        <td>Storytelling - Part 4</td>
                                    </tr>
                                    <tr class="btn-track" data-track="10">
                                        <th scope="row">11</th>
                                        <td>Cherry Mountains</td>
                                    </tr>
                                    <tr class="btn-track" data-track="11">
                                        <th scope="row">12</th>
                                        <td>Storytelling - Part 5</td>
                                    </tr>
                                    <tr class="btn-track" data-track="12">
                                        <th scope="row">13</th>
                                        <td>Graves Of The Lullabies</td>
                                    </tr>
                                    <tr class="btn-track" data-track="13">
                                        <th scope="row">14</th>
                                        <td>Storytelling - Part 6</td>
                                    </tr>
                                    <tr class="btn-track" data-track="14">
                                        <th scope="row">15</th>
                                        <td>Sea Of Creation</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="story-title" class="jumbotron title" data-stellar-background-ratio="0.5">
        <div class="container text-center">
            <h1 class="copperplate">Story</h1>
        </div>
    </div>

    <div id="story-section" class="section">
        <div class="container text-justify">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="garamond lead">
                        {% capture story %}{% include story.markdown %}{% endcapture %}
                        {{ story | markdownify }}
                    </div>
                    <blockquote class="blockquote-reverse garamond">
                        <p>"All night and day, hard working," they say.<br> "Brilliant today, a phenomenon someday."</p>
                        <footer>The Light</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

    <div id="biography-title" class="jumbotron title" data-stellar-background-ratio="0.5">
        <div class="container text-center">
            <h1 class="copperplate">Biography</h1>
        </div>
    </div>

    <div id="biography-section" class="section">
        <div class="container text-justify">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="garamond lead">
                        {% capture biography %}{% include biography.markdown %}{% endcapture %}
                        {{ biography | markdownify }}
                    </div>
                    <blockquote class="blockquote-reverse garamond">
                        <p>He's an anti-star, a false hope by far.<br> He's an anti-hero, all around zero.</p>
                        <footer>The Shadow</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

    <div id="contact-title" class="jumbotron title" data-stellar-background-ratio="0.5">
        <div class="container text-center">
            <h1 class="copperplate">Contact</h1>
        </div>
    </div>

    <div id="contact-section" class="section">
        <div class="container">
            <ul class="list-inline text-center">
                <li>
                    <a href="mailto:mail@noahsarkmusic.com" class="no-link">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/noahsmusicark" class="no-link" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/noahsmusicark" class="no-link" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/+noahsarkmusicofficial" class="no-link" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="http://www.youtube.com/c/noahsarkmusicofficial" class="no-link" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://soundcloud.com/noahs-ark-music" class="no-link" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-soundcloud fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/blog" class="no-link" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>
            <br>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% include mailchimp.html %}
                </div>
            </div>
        </div>
    </div>

</div>
