<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Noah's Ark">
        <meta name="keywords" content="Noah, Ark, Music">
        <meta name="author" content="Noah's Ark">

        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

        <!-- fullPage CSS -->
        <link href="/css/jquery.fullPage.css" rel="stylesheet">

        <!-- main CSS -->
        <link href="/css/main.css" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57230170-1', 'auto');
      ga('send', 'pageview');

    </script>

    </head>
    <body>

    {{ content }}

    <!-- jQuery -->
    <script src="/js/jquery-1.11.1.min.js"></script>

    <!-- easings JS -->
    <script src="/js/jquery.easings.min.js"></script>

    <!-- slimScroll JS -->
    <script src="/js/jquery.slimscroll.min.js"></script>

    <!-- fullPage JS -->
    <script src="/js/jquery.fullPage.min.js"></script>

    <script>

        $(document).ready(function() {
            $('#fullpage').fullpage({
                menu: false,
                resize: true,
                verticalCentered: true,
                anchors: ['first', 'second'],
                sectionsColor: ['#2ecc71', '#e67e22']
            });
        });

    </script>

    </body>
</html>
