---
layout: blog
---

<div class="jumbotron">
    <div class="container text-center">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="desdemona">{{ page.title }}</h2>
                <h4 class="garamond">
                    <small>{{ page.date | date_to_long_string }} in <a href="/blog/{{ page.categories | first }}" class="so-link">{{ page.categories | first | capitalize }}</a> - <a href="{{ page.url }}#disqus_thread" class="so-link"></a></small>
                </h4>
            </div>
        </div>

    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            {% if page.image %}
            <img src="{{ page.image }}" class="img-thumbnail img-responsive img-constraint center-block">
            <h5 class="garamond lead text-center text-muted"><em>{{ page.caption }}</em></h5>
            {% endif %}
            
            <div class="garamond lead text-justify">

        	{{ content }}

            </div>

            <ul class="list-inline social">
                <li>
                    <div class="fb-share-button" data-href="{{ site.url }}{{ page.url }}" data-layout="button_count"></div>
                </li>
                <li>
                    <div class="fb-like" data-href="https://www.facebook.com/noahsmusicark" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                </li>
                <li>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-size="medium" data-via="noahsmusicark" data-hashtags="thearkblog" data-text="{{ page.title }}">Tweet</a>
                </li>
                <li>
                    <a href="https://twitter.com/noahsmusicark" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false">Follow</a>
                </li>
                <li>
                    <div class="g-plus" data-href="{{ site.url }}{{ page.url }}" data-annotation="bubble" data-height="20" data-action="share"></div>
                </li>
                <li>
                    <div class="g-follow" data-href="https://plus.google.com/+noahsarkmusicofficial" data-annotation="bubble" data-height="20" data-rel="publisher"></div>
                </li>
            </ul>
            <hr>
            <ul class="list-inline garamond lead clearfix">
                {% if page.previous %}
                <li class="pull-left"><a href="{{ page.previous.url }}" class="so-link">&larr; Older</a></li>
                {% endif %}
                {% if page.next %}
                <li class="pull-right"><a href="{{ page.next.url }}" class="so-link">Newer &rarr;</a></li>
                {% endif %}
            </ul>
            <h3 class="desdemona text-center">Related Posts from the Ark Blog</h3>
            <div class="row">
                {% for post in site.related_posts limit:3 %}
                <div class="col-sm-4">
                    <div class="thumbnail">
                        {% if post.image %}
                        <a href="{{ post.url }}">
                            <img src="{{ post.image }}">
                        </a>
                        {% endif %}
                        <div class="caption">
                            <h5 class="desdemona"><a href="{{ post.url }}" class="so-link">{{ post.title }}</a></h5>
                            <p class="garamond text-right">
                                <small>{{ post.date | date_to_long_string }} in <a href="/blog/{{ post.categories | first }}" class="so-link">{{ post.categories | first | capitalize }}</a> - <a href="{{ post.url }}#disqus_thread" class="so-link"></a></small>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        	{% include disqus.html %}

        </div>
    </div>

</div>

{% include count.html %}

{% include social.html %}
